@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  font-weight: 200;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .wrapper {
    width: 100%;
    min-width: 320px;
    padding: 76px 20px;
  }

  .container {
    min-width: 320px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .subtitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 9.48px;
  }

  .btn {
    display: inline-flex;
    padding: 16px 64px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);

  }

  input {
    height: 24px;
    background: rgba(255, 255, 255, 0.05);
    border: none;
  }

  textarea {
    background: rgba(255, 255, 255, 0.05);
    border: none;
    width: 100%;
    height: 196px;
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(1, 10, 5, 0.75);
    backdrop-filter: blur(25px);
    z-index: 1000;
  }

  @media screen and (min-width: 768px) {
    .wrapper {
      padding: 74px 32px 64px
    }

    .container {
      min-width: 704px;
      width: 100%;
      margin: 0 auto;
    }

    .subtitle {
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 25.9px;
    }

    textarea {
      height: 228px;
      resize: none;
    }
  }

  @media screen and (min-width: 1280px) {
    .wrapper {
      padding: 106px 80px 80px
    }

    .container {
      min-width: 1280px;
    }

    .subtitle {
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 36.48px;
    }

    input {
      height: 28px;
    }

    textarea {
      height: 266px;
    }
  }

}